@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

:root {
    --main-color: #fdfdfd;
    --secondary-color: #e7e4e4;

    --invalid-color: #f89797;
    --button-color: #151616;

    --input-width: 680px;
    --space-between: 8px;
    --input-width-half: calc((var(--input-width) / 2) - var(--space-between));
}

body {
    animation: 0.5s ease-in 0s 1 fadeInOpacity;

    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 8vh 10vw;

    background-color: var(--main-color);
}

#formContainer {
    margin: 2vh 4vw;
    padding: 2vh 4vw;

    background-color: var(--secondary-color);
    border-radius: 4px;
}

form, form > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: var(--input-width);
    height: 48px;
    padding: 0px 8px;
}

form > div {
    display: flex;
}

form > div > div > input {
    width: var(--input-width-half);
}

form > div > div:last-child {
    margin-left: var(--space-between);
}

input:focus {
    border: var(--button-color);
}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid var(--invalid-color);
}

.labelMargin {
    margin: 16px 0px 4px 0px
}

#miniText {
    font-size: small;
}

p {
    margin: 8px 0px;
}

button {
    width: calc(var(--input-width-half) - 40px);
    height: 48px;
    padding: 0px 8px;

    background-color: var(--button-color);
    color: var(--main-color);
    border: none;
}

button:hover {
    cursor: pointer;
}